<section id="projects" class="section section-bio">
  <div class="container section-inner">
    <h2 class="section-title">Projects</h2>

    {% for proj in site.data.projects %}
      <!-- <article class="media-row {% if forloop.index0 | modulo:2 == 0 %}media-reverse{% endif %}"> -->
      <article class="media-row">
        <div class="media-left">
          {% if proj.video %}
            <div class="media-embed">
              <video controls preload="metadata" playsinline>
                <source src="{{ proj.video | relative_url }}" type="video/mp4">
              </video>
            </div>
          {% elsif proj.iframe_video %}
            <div class="media-embed">
              <iframe
                src="{{ proj.iframe_video}}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                loading="lazy">
              </iframe>
            </div>
          {% else %}
            <img src="{{ proj.image | relative_url }}" alt="{{ proj.title }}">
          {% endif %}
        </div>

        <div class="media-right">
          {% if proj.website_link %}
            <h3><a href="{{ proj.website_link }}">{{ proj.title }}</a></h3>
          {% elsif proj.relative_link %}
            <h3><a href="{{ proj.relative_link }}">{{ proj.title }}</a></h3>
          {% else %}
            <h3>{{ proj.title }}</h3>
          {% endif %}          
          <p class="meta">{{ proj.short }}</p>
          <p class="section-content">{{ proj.description }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
